{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row">
			{% for pint in pints %}
				<div class="col-sm-4 p-5">
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
								<title>Placeholder</title>
								<rect width="100%" height="100%" fill="#55595c"></rect>
								<text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
							</svg>
							<div class="card-body">
                                <h3>{{pint.name}}</h3>
								<p class="card-text">{{pint.description}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="{{path('app_pints_detail', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-info">Detail</button> </a> 
										<a href="{{path('app_pints_edit', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-success">Modifier</button> </a>
                                        <a href="{{path('app_pints_delete', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-danger">supprimer</button> </a>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
                                <div style="text-align: center; padding-top:5px">
                                    <span>15</span>
                                    <i style="color:green" class="fa fa-thumbs-up"></i>
                                    <i style="color:red" class="fa fa-thumbs-down"></i>
                                    <span>2</span>
                                </div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
