{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row">
			{% for pint in pints %}
				<div class="col-sm-4 p-5">
					<div class="col">
						<div class="card shadow-sm">
							<img src=" {{ asset('uploads/pins/' ~ pint.picture) }}" alt="Italian Trulli" width="342" height="240">
							<div class="card-body">
                                <h3>{{pint.name}}</h3>
								<h6 class="card-text"> Importée par : {{ pint.user.completeName }}</h5>
								<h6 class="card-text"> publiée le : {{ pint.createAt|date("m/d/Y") }}</h6>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="{{path('app_pints_detail', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-info">Detail</button> </a> 
										<a href="{{path('app_pints_edit', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-success">Modifier</button> </a>
                                        <a href="{{path('app_pints_delete', {'id':pint.id} )}}"> <button type="button" class="btn btn-sm btn-outline-danger">supprimer</button> </a>
									</div>
								</div>
                                <div style="text-align: center; padding-top:5px">
                                    <span>15</span>
                                    <i style="color:green" class="fa fa-thumbs-up"></i>
                                    <i style="color:red" class="fa fa-thumbs-down"></i>
                                    <span>2</span>
                                </div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
